.borderY{
    border-top: 5px solid;
    border-bottom:  5px solid;
    border-color: purple;
}
.borderX{
    border-left: 5px solid;
    border-color: purple;
}
.padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.margin{
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}
img{
    padding: 10px;
    border: 5px solid;
    border-color: purple;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
}