@font-face {font-family: Custom;src: url(/CSS3/Fonts/FiraSans-Regular.otf);}
@font-face {font-family: Mario;src: url(/CSS3/Fonts/SuperMario256.ttf);}

body{background-color: rgb(55, 55, 55);color: aliceblue;line-height: 140%;font-size: 1.8rem;}
.google{font-family: Roboto;font-size: 3rem;}
.custom{font-family: Custom;font-size: 3rem;}
.typography{font-family: Mario;}

/*Remember the correct order*/
a:link{text-decoration: none;color: rgb(221, 142, 37);transition: all 300ms;}
a:visited{ color: rgb(221, 142, 37);}
a:active{text-decoration: solid;color: rgb(39, 100, 222);transition: all 300ms;}
a:hover{text-decoration: underline;color:rgb(105, 105, 194);transition: all 300ms;}

@media (prefers-color-scheme: light) {
body{
    background-color: pink;
    color: black;
}
}